<div class="container mt-5 mb-sm-5">

  <div class="row">

    <div class="col-md-6 mb-3">
      <h2 class="title-tab">Contact me now <span class="badge badge-success ml-md-3">Available</span></h2>

      <h4 class="txt-contact">I’m currently looking for projects.
        If you prefer email, get in touch with me via <a href="#"><span>haikel.fazzani@gmail.com</span></a></h4>

      <div>
        <a target="_blank" class="twitter-btn" title="Follow @HaikelFazzani on Twitter" [href]="twitterLink">
          <i class="fab fa-twitter"></i>
          <span class="label">@HaikelFazzani</span>
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <form class="form-contact">
        <div class="form-group">
          <label for="fullname">Fullname</label>
          <input type="text" class="form-control" id="fullname" placeholder="fullname">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" placeholder="subject">
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="3"></textarea>
        </div>

        <div class="form-group">
          <div class="captcha">
            <input type="text" name="txt" id="txt" (change)="validate($event)" placeholder="Enter code captcha..">
            <div class="canva ml-3 ml-sm-0" #mycanva></div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
        <button type="reset" class="btn btn-default ml-3">Reset</button>
      </form>
    </div>

  </div> <!-- /row -->
</div>