.txt-contact {
    color: #9e9e9e;
    font-size: 18px;
}

.title-tab {
    position: relative;
    .badge-success {
        position: absolute;
        top: 5px;
        font-size: 14px;
    }
}


.social-contact {
    a {
        font-size: 25px;
    }
}

.form-contact {
    .btn-primary {
        background-color: #ffc300;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.16),0 0 5px 0 rgba(0,0,0,.12)!important;
        border: 0;
        padding: 7px 30px;
        transition: all .3s ease;
        text-transform: uppercase;
        &:hover {
            background-color: inherit;
            border: 1px solid #ffc300;
        }
    }

    textarea , input {
        color: #fff;
        border: 1px solid#ffc300;
        background-color: inherit;
        &:focus , &:active {
            outline: none;
        }
    }

    .captcha {
        display:flex;
        flex-wrap:wrap;
    
        input {
            padding: 0 10px;
        }
    
        .canva {
            width: 100px;
            height: 30px;
            background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../../assets/img/back.jpg');
            background-size: cover;
            background-clip: border-box;
            background-color: #484848;
            border: 1px solid#ffc300;
        }
    
    }
}
   
/* Media Queries */
@media screen and (max-width: 992px) {
    .form-contact {

        .captcha {
            input { width: 100%; }
            .canva {                
                margin: 0;
                margin-top: 10px;
            }
        }        
    } 
}

@media screen and (max-width: 600px) {
    .title-tab {
        span {
            display: none;
        }
    }

    .form-contact {

        .captcha {
            input { width: 100%; }
            .canva {
                margin-top: 10px;
            }
        }        
    }    
}