<div class="container mt-5 mb-5">

  <div class="row about-row">

    <div class="col-md-3 mb-3">
      <div class="about-info">
        <img src="../../../assets/img/2.jpg" alt="">
        <p>
          I love spending time coding and learning new things.
          I like working in a team,
          you'll learn faster and much more.
          As the saying goes: 'two heads are better than one'.</p>
      </div>

      <div>
        <a target="_blank" class="twitter-btn" title="Follow @HaikelFazzani on Twitter" [href]="">
          <i class="fab fa-twitter"></i>
          <span class="label">@HaikelFazzani</span>
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><strong>Fullname : </strong> Haikel Fazzani</li>
        <li class="list-group-item"><strong>Web developer :</strong> Angular, NodeJs and Java</li>
        <li class="list-group-item"><strong>Email :</strong> haikel.fazzani@gmail.com</li>
        <li class="list-group-item"><strong>Phone :</strong> +216 973 870</li>
        <li class="list-group-item"><strong>Location :</strong> Ben Arous, Tunisia</li>
        <li class="list-group-item"><strong>Microsoft Certification : </strong>
          <a [href]="certificationLinks[0]" target="_blank">Database</a>
          <a [href]="certificationLinks[1]" target="_blank"> Java</a>
        </li>
      </ul>

    </div>


    <div class="col-md-3">
      <h5>Languages</h5>
      <div class="languages">
        <div>Arabic
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
        </div>

        <div>English
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
        </div>

        <div>French
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
        </div>
      </div>

      <h5 class="mt-5">Links</h5>
      <div class="social-network mt-3">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a class="ml-3" href=""><i class="fab fa-twitter-square"></i></a>
        <a class="ml-3" href=""><i class="fab fa-github-square"></i></a>
        <a class="ml-3" href=""><i class="fab fa-linkedin"></i></a>
        <a class="ml-3" href=""><i class="fab fa-codepen"></i></a>
      </div>
    </div>


  </div><!-- /row -->

</div>