<div class="container mt-5">

    <img src="../../../assets/img/2.jpg" alt="">
    <div class="bio ml-3">
      <p>Hi, my name is Haikel Fazzani , i'm a web developer Angular , NodeJs and Java.
        I love coding and challenges, i'm born to create & share.</p>
      <div class="social-network">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a class="ml-3" href=""><i class="fab fa-twitter"></i></a>
        <a class="ml-3" href=""><i class="fab fa-github"></i></a>
      </div>

    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email : haikel.fazzani@gmail.com</li>
      <li class="list-group-item">Phone : +216 973 870</li>
      <li class="list-group-item">Adress : tunis, tunisia</li>
    </ul>

</div>
