<div class="container mt-5 mb-5">

  <div class="about-info mb-3">
    <div class="bio">
      <ul class="list-group">
        <li class="list-group-item"><img src="../../../assets/img/2.jpg" alt=""></li>
        <li class="list-group-item">
          <h4>Haikel Fazzani</h4>
        </li>
        <li class="list-group-item"><i class="fas fa-code"></i> Web Developer :
          <div>Angular, NodeJs and Java</div>
        </li>
        <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> Ben Arous, Tunisia</li>
        <li class="list-group-item">
          <div class="social-network">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a class="ml-3" href=""><i class="fab fa-twitter-square"></i></a>
            <a class="ml-3" href=""><i class="fab fa-github-square"></i></a>
            <a class="ml-3" href=""><i class="fab fa-linkedin"></i></a>
            <a class="ml-3" href=""><i class="fab fa-codepen"></i></a>
          </div>
        </li>
      </ul>

    </div>

    <div class="bio-info">
      <ul class="list-group">
        <li class="list-group-item"><strong>Email :</strong> haikel.fazzani@gmail.com</li>
        <li class="list-group-item"><strong>Phone :</strong> +216 973 870</li>
        <li class="list-group-item"><strong>Address :</strong> tunis, tunisia</li>
        <li class="list-group-item">Certification</li>
        <li class="list-group-item">

        </li>
      </ul>
    </div>
  </div>

</div>