.navbar {
    padding: 15px 300px;   
    border-radius: 0 !important; 

    .navbar-brand {
        font-family: 'Courgette', cursive;
    }
}

.navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }

@media screen and (max-width: 600px) {
    .navbar {
        padding: 5px 10px;
    }
}