<div class="container mt-5">

  <header>
    <img src="../../../assets/img/2.jpg" alt="">
    <div class="bio ml-3">
      <p>Hi, my name is Haikel Fazzani , i'm a web developer Angular , NodeJs and Java.
        I love coding and challenges, i'm born to create & share.</p>
      <div class="social-network">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a class="ml-3" href=""><i class="fab fa-twitter"></i></a>
        <a class="ml-3" href=""><i class="fab fa-github"></i></a>
      </div>
    </div>
  </header>

  <h2>Lastest Projects</h2>
  <app-projects></app-projects>

  <h2>Lastest Projects</h2>
  <app-blog></app-blog>

</div>