<div class="container mt-5">

  <section class="post">
    <a href="">
      <h3>New Beginnings</h3>
    </a>
    <small>28 May, 2015</small>
    <p>New Beginnings
      Far far away, behind the word mountains,
      far from the countries Vokalia and Consonantia, there live the blind texts.
      Separated they live in…</p>

  </section>

  <section class="post">
    <a href="">
      <h3>New Beginnings</h3>
    </a>
    <small>28 May, 2015</small>
    <p>New Beginnings
      Far far away, behind the word mountains,
      far from the countries Vokalia and Consonantia, there live the blind texts.
      Separated they live in…</p>

  </section>
</div>