<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="">Movie10</a></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <span class="badge badge-secondary">Angular</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="">Movie10</a></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <span class="badge badge-secondary">Angular</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="">Movie10</a></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <span class="badge badge-secondary">Angular</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="">Movie10</a></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <span class="badge badge-secondary">Angular</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="">Movie10</a></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <span class="badge badge-secondary">Angular</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="">Movie10</a></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <span class="badge badge-secondary">Angular</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
          <span class="badge badge-secondary">NodeJs</span>
        </div>
      </div>
    </div>


  </div>



</div>