<div class="container mt-3 mb-5">

  <h2 class="title-tab mt-3">Recent posts</h2>

  <article class="post">
    <a href=""><img src="../../../assets/img/3.png" alt=""></a>

    <div class="art-desc ml-3">
      <a href="">
        <h4>New Beginnings</h4>
      </a>
      <small>28 May, 2015</small>
      <p>New Beginnings
        Far far away, behind the word mountains,
        far from the countries Vokalia and Consonantia, there live the blind texts.
        Separated they live in…</p>
    </div>

  </article>

  <article class="post">
    <a href=""><img src="../../../assets/img/3.png" alt=""></a>

    <div class="art-desc ml-3">
      <a href="">
        <h4>New Beginnings</h4>
      </a>
      <small>28 May, 2015</small>
      <p>New Beginnings
        Far far away, behind the word mountains,
        far from the countries Vokalia and Consonantia, there live the blind texts.
        Separated they live in…</p>
    </div>

  </article>

  <article class="post">
    <a href=""><img src="../../../assets/img/3.png" alt=""></a>

    <div class="art-desc ml-3">
      <a href="">
        <h4>New Beginnings</h4>
      </a>
      <small>28 May, 2015</small>
      <p>New Beginnings
        Far far away, behind the word mountains,
        far from the countries Vokalia and Consonantia, there live the blind texts.
        Separated they live in…</p>
    </div>

  </article>

  <article class="post">
    <a href=""><img src="../../../assets/img/3.png" alt=""></a>

    <div class="art-desc ml-3">
      <a href="">
        <h4>New Beginnings</h4>
      </a>
      <small>28 May, 2015</small>
      <p>New Beginnings
        Far far away, behind the word mountains,
        far from the countries Vokalia and Consonantia, there live the blind texts.
        Separated they live in…</p>
    </div>

  </article>

</div><!-- /container -->