.aside-blog {
    li {
        background-color: inherit;
        padding-left: 0;
        border: 0;
    }
}

.post {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    animation: carddisplay 1s;
    a {
        flex: 1 1 20%;
        max-width: 150px;
        max-height: 150px;
        img {
            max-width: 150px;
            max-height: 150px;
            border: 2px solid #ffc300;
        }
    }

    .art-desc {
        flex: 1 1 70%;
        a {   color: #ffffff; }
        p {   color: rgb(194, 194, 194); }
        small { color: #9E9E9E;   }
    }
}

@keyframes carddisplay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 992px) {
    .post {
        a {
            img {
                display: none;
            }
        }
        .art-desc {
            flex: 1 1 100%;            
        }
    }
}

@media screen and (max-width: 600px) {
    
    .post {
        a {
            img {
                display: none;
            }
        }
        .art-desc {
            flex: 1 1 100%;            
        }
    }
}